<header class="flex justify-between py-[12px]">
  <div class="w-[30px]">
    <img src="/logo.svg" alt="logo" />
  </div>
  <ul
    class="flex items-center space-x-[24px] text-base font-bold text-[#FDFAEB]"
  >
    <li
      class="cursor-pointer px-[16px] py-[2px] hover:rounded-sm hover:bg-[#CABB9E]"
    >
      <a href="/">Home</a>
    </li>
    <li
      class="cursor-pointer px-[16px] py-[2px] hover:rounded-sm hover:bg-[#CABB9E]"
    >
    <a href="/projects">Projects</a>
    </li>
  </ul>
</header>
