---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-2xl prose-h1:mb-4
  prose-h2:text-xl prose-h2:font-semibold prose-h2:mb-3
  prose-h3:text-lg prose-h3:font-medium prose-h3:mb-2
  prose-a:text-blue-500
  prose-p:mb-4 prose-p:leading-relaxed prose-p:text-gray-800 dark:prose-p:text-gray-300
  prose-ul:list-disc prose-ul:pl-5 prose-ul:mb-4
  prose-ol:list-decimal prose-ol:pl-5 prose-ol:mb-4
  prose-code:bg-gray-100 dark:prose-code:bg-gray-800 prose-code:rounded prose-code:px-1 prose-code:py-0.5 prose-code:text-sm prose-code:font-mono
  prose-pre:bg-gray-100 dark:prose-pre:bg-gray-800 prose-pre:p-4 prose-pre:rounded prose-pre:overflow-x-auto prose-pre:shadow-md prose-pre:mb-4
  prose-blockquote:border-l-4 prose-blockquote:border-gray-300 prose-blockquote:pl-4 prose-blockquote:text-gray-700 dark:prose-blockquote:text-gray-400 dark:prose-blockquote:border-gray-600 prose-blockquote:italic
  prose-img:rounded-lg prose-img:shadow-lg prose-img:mb-4
  m-auto">
  <slot />
</div>
