---
import MainLayout from "@layouts/MainLayout.astro";
import LastProjects from "@components/vue/LastProjects.vue";
---

<MainLayout title="home">
  <div class="mx-[-16px]">
    <img src="/images/hero.png" alt="hero" />
    <LastProjects client:only="vue" />
  </div>
  <Fragment slot="footer">
  </Fragment>
</MainLayout>
