---
import { marked } from 'marked';
import MainLayout from "@layouts/MainLayout.astro";
import Prose from "@components/astro/Prose.astro";
import fetchReadme from "@services/fetchReadme";

export const prerender = false;

const { slug } = Astro.params;

let content: string;

try {
  const markdown = await fetchReadme(slug);
  content = marked.parse(markdown) as string;
} catch (error) {
  console.error(error.message);
  content = `<p>README file not found for the repository "${slug}".</p>`;
  }
---

<MainLayout title="slug">
  <Prose>
    <article set:html={content} />
  </Prose>
</MainLayout>
